
	
	<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md bg-faded" style="background-color: #585858;">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" 
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand lnky" href="/"><img src="/img/logo.png" alt="Lnky Logo"></a>

			<div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav ml-auto">
		   	{% if app.session.get('user') %}
				<li class="nav-item {{ args.publisher|default('') }}">
					<a class="nav-link" href="{{ app.url_generator.generate('publisher') }}">Account Page</a>
				</li>
				<li class="nav-item {{ args.logout|default('') }}">
					<a class="nav-link" href="{{ app.url_generator.generate('logout') }}">Log Out</a>
				</li>
		    {% else %}
		    	<li class="nav-item {{ args.login|default('') }}">
					<a class="nav-link" href="{{ app.url_generator.generate('login') }}">Log In</a>
				</li>
				<li class="nav-item {{ args.signup|default('') }}">
					<a class="nav-link" href="{{ app.url_generator.generate('signup') }}">Sign Up</a>
				</li>
				
		  	{% endif %}
		    </ul>
		  </div>
	</nav>
